@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.website_width {
    width: 80%;
    margin: auto;
    margin-bottom: 115px;
}

.pramiry_btn {
    padding: 18px 42px;
    background-color: #E55473;
    border-radius: 8px;
    border: 0;
    color: white;
    cursor: pointer;
}



/* Banner Section */
.banner_section_background {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner_section {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_section_left h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner_section_left p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0px;
    width: 634px;
}


/* Our Feature section */


.our_feature_section {
    text-align: center;
}

.our_feature_section h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.our_feature_section p {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.feature_section_flower_container {
    display: flex;
    gap: 24px;
}

/* Flower box 1 */

.flower_box1 img {
    padding: 110px 76px 0px 76px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.flower_box1 p a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* Flower box 2 */

.flower_box2 img {
    padding: 117px 47px 51px 47px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.flower_box2 p a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* Flower box 3 */

.flower_box3 img {
    padding: 67px 75px 0px 75px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

.flower_box3 p a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}


/* Support section */
.support_section {
    display: flex;
    gap: 100px;
    justify-content: center;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    padding: 86px 175px;
}

.support_section .support_box {
    text-align: center;
}

.support_section .support_box p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}


/* Hot Deal section */


.hot_deal_section_background {
    background-color: rgba(229, 84, 115, 0.05);
}

.hot_deal_section {
    padding: 85px 0px 110px 0px;
    display: flex;
    justify-content: center;
    gap: 186px;
    align-items: center;
}

.hot_deal_content_section {
    text-align: center;
}

.hot_deal_content_section h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot_deal_content_section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0px 32px 0px;
}



/* Flower info Seciton */

.flower_info_section{
    width: 60%;
    margin: auto;
    margin-bottom:80px ;
    background-color: #111010de ;
    padding: 50px 0px;
    margin-top:-210px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flower_info_box {
    display: flex;
    justify-content: center;
    gap: 200px;
}
.flower_info_box h2{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.flower_info_box p{
    color: rgba(255, 255, 255, 0.873);
    font-size: 18px;
    margin: 10px 0px;
}


/* Instagram section */


.instagram_section {
    text-align: center;
}

.instagram_section h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram_section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0px 48px 0px;
}

.instagram_section_image {
    display: flex;
    justify-content: space-between;
}


/* Latest Deal Section */

.latest_deal_section {
    text-align: center;
    background-image: url("../image/Rectangle\ 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 122px 0px;
    border-radius: 8px;
}

.latest_deal_section h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.latest_deal_section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0px 48px 0px;
}

.latest_deal_section>input {
    width: 700px;
    padding: 22px;
    border: none;
    /* outline: none; */
    border-radius: 8px;
    margin-right: 16px;
}



/* Footer Section */

footer {
    background-color: #111010;
}

.footer_section {
    text-align: center;
    padding: 80px 0px;
}

.footer_section h2 {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.footer_section h2 span {
    color: #E55473 !important;
}

.footer_section > p {
    color: rgba(255, 255, 255, 0.90);
    padding: 24px 0px 5px 0px;
    line-height: 30px;
}

.footer_section .last_p {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}
footer .website_width{
    margin-bottom: 0px;
}

